h1{
    text-align: center;
}

body{
    background-color: rgba(29, 46, 3, 0.911);
    color: white;
}

.izq{
    text-align: left;
    font-size: 13px;
}

.escoro{
    display:block;
    margin:auto;
    width: 150px;
    height: 150px ;
    margin-top: 25px;
}

pre{
    text-align: center;
}

.izquierda{
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  width :20%;
}

.derecha{
  margin-left:20%;
  padding:1px 16px;
}

.fotoalan{
    margin-top: 2rem;
    display:block;
    width: 100px;
    height: 150px ;
}

.menu_vertical
{
  height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  width :20%;
  margin-top: 50px;
}

.menu_vertical a {
    background-color:  rgba(13, 236, 150, 0.233);
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;

}

.menu_vertical a:hover {
    background-color:  #4CAF50;
}

.contenedor{
    float: none;
}

nav{
    margin-top: 200px;
}
